/* line 17, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/application.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/application.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 21, ../scss/application.scss */
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #544d4d;
}

/* line 28, ../scss/application.scss */
#header {
  -webkit-app-region: drag;
  position: relative;
  background: #544d4d;
  color: #fff;
  overflow: hidden;
  *zoom: 1;
}

/* line 38, ../scss/application.scss */
.menu {
  -webkit-app-region: no-drag;
}
/* line 41, ../scss/application.scss */
.menu ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 44, ../scss/application.scss */
.menu ul li {
  float: left;
  padding: 15px;
  font-family: Acrom, sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transform-origin: 0 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 59, ../scss/application.scss */
.menu ul li:hover:not(.active) {
  -webkit-transform: scale(1, 0.9);
  -moz-transform: scale(1, 0.9);
  -ms-transform: scale(1, 0.9);
  -o-transform: scale(1, 0.9);
  transform: scale(1, 0.9);
}
/* line 65, ../scss/application.scss */
.menu.menu-global {
  float: left;
}
/* line 69, ../scss/application.scss */
.menu.menu-theme {
  float: right;
}
/* line 72, ../scss/application.scss */
.menu.menu-theme ul li {
  width: 120px;
}

/* line 78, ../scss/application.scss */
.global-icon {
  width: 12px;
  height: 12px;
  padding: 0 !important;
  margin: 14px 8px 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 86, ../scss/application.scss */
.global-icon-close {
  background-color: #f7534d;
}

/* line 90, ../scss/application.scss */
.global-icon-minimize {
  background-color: #fdda86;
}

/* line 94, ../scss/application.scss */
.global-icon-maximize {
  background-color: #b2cc63;
}

/* line 98, ../scss/application.scss */
.splitter {
  width: 100%;
  height: 5px;
  background: #f2d99c;
}

/* line 104, ../scss/application.scss */
#sideBar {
  width: 120px;
  height: 100%;
  position: absolute;
  background: #544d4d;
  color: #fff;
  font-family: Acrom, sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  transform: translateX(-120px);
}
/* line 116, ../scss/application.scss */
#sideBar.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 122, ../scss/application.scss */
#sideBar ul li span {
  display: block;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
/* line 130, ../scss/application.scss */
#sideBar ul li span:hover {
  background: #393535;
}

/* line 138, ../scss/application.scss */
#canvasDiv {
  width: 100%;
}

/* line 142, ../scss/application.scss */
#canvas {
  cursor: url(images/dot.png);
}
